html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-test {
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* TÉ™krar */
    grid-template-rows: 100px 100px;
}

.grid-item {
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}