html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #F9F7FC;
    scroll-behavior: smooth;
}


header {
    background-image: url(../images/header-bg-2.png);
    background-size: cover;
    background-position: center;
    width: 95%;
    position: relative;
    margin: auto;
    text-align: center;
    padding-bottom: 10rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.main-nav {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #7447c2;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0 auto;
    gap: 30px;
    height: 100%;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.1rem;
    height: 100%;
    transition: all 0.3s ease;
}

.register-login {
    list-style: none;
    margin-left: 0;
    display: flex;
    gap: 30px;
}

.register-login li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 9px 16px;
    background-color: #7447c2;
    border-radius: 19px;
    transition: all 0.6s ease;
}

.register-login li a:hover {
    background-color: #ffffff;
    color: #7447c2;
}

header img {
    width: 9rem;
    height: 5.4rem;
    margin-right: 0;
}

header h1 {
    color: white;
    font-size: 2.8rem;
    margin-top: 7.5rem;
    margin-bottom: 0.3rem;
}

header p {
    color: white;
    font-size: 1.2rem;
    padding: 0;
    font-weight: bold;
    margin-bottom: 3rem;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    width: 58%;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 4px;
    height: 4.5rem;
}

.searchbar input {
    width: 90%;
    height: 90%;
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;

}

.searchbar span {
    margin-right: 1rem;
    color: #7447c2;
    font-size: 2.5rem;
    font-weight: 300;
    cursor: pointer;
}

.searchbar input:focus {
    outline: none;
}

.scroll-down {
    position: absolute;
    bottom: -8.5%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    left: 48.6%;
    z-index: 10;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.scroll-down:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
    position: absolute;
    background-color: #7447c2;
    list-style: none;
    margin-top: 20px;
    display: none;
    padding: 5px;
    border-radius: 8px;
    right: -90%;
}

.nav-links li {
    padding: 30px 0;
    position: relative;
    transition: all 0.3s ease;
    display: inline-block;
}

.nav-links li:hover .dropdown-menu {
    display: block;
    width: 150px;
    z-index: 9;
}

.dropdown-menu li {
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.dropdown-menu li:hover {
    background-color: #5e35b1;
}

@media (max-width:600px) {
    header h1 {
        font-size: 2rem;
        margin-top: 5rem;
    }

    header p {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .searchbar {
        width: 80%;
    }
}


/*Mobile Navigation Styles*/

.hamburger-menu-icon {
    display: none;
    color: white;
    font-size: 2.4rem;
    cursor: pointer;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #3A3C4C;
    width: 20rem;
    position: absolute;
    height: 100vh;
    top: 0;
    z-index: 3;
    left: -25rem;
    transition: left 0.3s ease;
    overflow-y: auto;
}

.mobile-nav.active {
    left: 0;
}

body.no-scroll {
    overflow: hidden;
}

.mobile-nav-heading {
    color: rgb(255, 252, 252);
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 1rem;
}

.mobile-nav-links {
    list-style: none;
}

.mobile-nav-close-icon {
    color: white;
    cursor: pointer;
    align-self: flex-end;
    margin: 1rem 1rem 0 0;
}

.mobile-nav-links a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.7rem 1rem;
}

body.no-scroll {
    overflow: hidden;
}

@media (max-width:1000px) {
    .main-nav {

        position: relative;
    }

    .scroll-down {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .hamburger-menu-icon {
        display: block;
        position: absolute;
        right: 0;
    }

    .register-login {
        display: none;
    }
}

@media (max-width:400px) {


    .mobile-nav {
        width: 100%;
    }
}


.article-section {
    margin: 10rem auto;
    max-width: 1100px;

}

.article-header {
    text-align: center;
}

.article-header h1 {
    font-size: 2.5rem;
    color: #5e35b1;
    margin-bottom: 0;
}

.articles {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 5rem 1rem;
}

.article-card {
    background-color: white;
    padding: 60px 20px;
    text-align: center;

}

.article-card i {
    display: inline-block;
    background-color: #F9F7FC;
    padding: 40px 40px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    color: #7447c2;
    margin-bottom: 1rem;
}

.article-card p {
    color: #555555;
    width: 70%;
    font-size: 0.9rem;
    margin: 0 auto;
}

.article-card h3 {
    color: #7447c2;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.article-card a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 3rem;
    background-color: #FC6591;
    padding: 7px 30px;
    border-radius: 29px;
    transition: all 0.3s ease;
}

.article-card a:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width:960px) {
    .articles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:600px) {
    .articles {
        grid-template-columns: repeat(1, 1fr);
    }
}
/*Frequent Questions Section*/




.fruquently-asked-section {
    background-color: white;
    width: 100%;
    padding: 100px 0;
    

}

.fruquently-asked-section-container {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px  ;
}

.fruquently-asked-left-side {
    width: 300px;
}

.fruquently-asked-left-side h1 {
    color: #673AB7;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.fruquently-asked-right-side {
    width: 600px;
    position: relative;
}

.accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.hidden {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.hidden.active {
    max-height: 130px;
}

.accordion-item {
    box-shadow: 2px 2px 8px rgba(41, 40, 40, 0.3);
    margin-bottom: 17px;
    border-radius: 2px;
    padding: 0.3rem 1.2rem;
}

.accordion-item:last-child {
    margin-bottom: 0;
}

.accordion-header::before {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid #673AB7;
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: white;
    transition: all 0.3s ease;
}

.accordion-header::after {
    content: '';
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translate(4px, -50%);
    z-index: 11;
    transition: background-color 0.3s ease;
}

.fa-plus {
    font-weight: lighter;
}

.accordion-item.active .accordion-header::after {
    background-color: #673AB7;
}

.fruquently-asked-right-side::before {
    content: ' ';
    height: 82%;
    width: 1px;
    background-color: black;
    position: absolute;
    left: -4.8%;
    z-index: 10;
    top: 9%;
}

@media(max-width: 1000px) {
    .accordion-header::after {
        display: none;
    }

    .accordion-header::before {
        display: none;
    }

    .fruquently-asked-right-side::before {
        display: none;
    }

    .fruquently-asked-section-container {
        flex-direction: column;
        
    }

    .fruquently-asked-right-side {
        width: 100%;
    }

    .fruquently-asked-left-side {
        width: 100%;
    }
    .fruquently-asked-section-container {
        padding: 10px;
    }
}

@media(max-width: 300px) {
    .fruquently-asked-left-side h1 {
        font-size: 1.7rem;
    }

    
}


















/*Popolar Articles section*/


.popular-articles {
    margin: 5rem auto;
    max-width: 950px;

}

.popular-articles h1 {
    color: #5e35b1;
    margin-bottom: 3rem;
}

.article-column {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #e7e4e4;
}

.article-column-left {
    width: fit-content;
}

.article-column-left-header {
    color: #5e35b1;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.article-column-left p {
    color: #7a7979;
    font-size: 0.9rem;
    font-weight: 400;

}

.article-column-left-header-span {
    font-weight: bolder;
}

.article-column-right {
    width: 500px;
    font-weight: 300;
    font-size: 1rem;
    color: #413c3c;
    margin-left: auto;
}

.article-column:last-child {
    border: none;
}

.latest-articles {
    background-color: white;
    padding: 5rem 0;
}

.latest-articles-container {
    margin: 0 auto;
    max-width: 950px;
}

.latest-articles h1 {
    color: #5e35b1;
    margin-bottom: 3rem;
}

@media(max-width:1000px) {

    .popular-articles,
    .latest-articles-container {
        margin: 0 1rem;
    }
}

@media(max-width:900px) {
    .article-column {
        flex-direction: column;
    }

    .article-column-right {
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;
    }
}


.support-section {
    text-align: center;
    padding: 7rem 2rem;
    border-radius: 10px;
}

.support-section p {
    color: #555555;
}

.support-section a {
    text-decoration: none;
    display: inline-block;
    margin-top: 2.5rem;
    background-color: #FC6591;
    color: white;
    border: none;
    padding: 15px 28px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.support-section a:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}


.answer-section {
    background-color: #ffffff;
    padding: 5rem 1rem;
    border-radius: 10px;
}

.answer-section-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.answer-section-container-right-header {
    display: flex;
    height: fit-content;
    align-items: center;
    color: #5e35b1;
}

.answer-section-container-right .answer-section-container-right-header h3 {
    font-weight: 600;
    margin: 0;
    font-size: 1.4rem;
}

.answer-section-container-right-container {
    margin-bottom: 3rem;
}

.answer-section-container-right-header span {
    margin: 0;
    font-size: 2rem;
}

.answer-section-container-right-footer {
    display: flex;
    height: fit-content;
    align-items: center;
    color: #5e35b1;
}

.answer-section-container-right-footer a {
    text-decoration: none;
    color: #5e35b1;
    margin: 0.5rem;
    margin: 0;
}

.answer-section-container img {
    width: 450px;
    height: 400px;
}

@media(max-width:960px) {
    .answer-section-container {
        flex-direction: column;
    }

    .answer-section-container-right {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:700px) {
    .answer-section-container-right {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
    .answer-section-container img {
        width: 100%;
        height: auto;
    }
}

footer {
    padding: 3rem 0;
}

.footer-container {
    width: 90%;
    margin: 0 auto;
}

.footer-content {
    text-align: center;
}

.address,
.email {
    color: #555;
    font-size: 0.95rem;
    margin: 0.5rem 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 0;
}

.social-icons a {
    color: #888;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #411c1c;
}

.arrow-up {
    margin: 2rem 0;
}

.arrow-up a {
    color: #888;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.arrow-up i:hover {
    color: #411c1c;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footer-nav a {
    color: #888;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #411c1c;
}
